openapi: 3.0.1
info:
    title: Alice
    description: Post text to slide generation system.
    version: "v1"
servers:
    - url: https://ai-alice.com/
paths:
    /textsend:
        post:
            operationId: postText
            summary: Accepts text data for slide generation.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                userid:
                                    type: string
                                    description: user's email.
                                text:
                                    type: string
                                    description: Text which the user wants to input as a body part of slide.
                                title:
                                    type: string
                                    description: Text which the user wants to input as a title of slide.
                                conclusion:
                                    type: string
                                    description: Text which the user wants to input as a conclusion of slide.
                                language:
                                    type: string
                                    description: Language used in a slide.
            responses:
                "200":
                    description: OK
