openapi: 3.0.1
info:
    title: Alice
    description: Post text to slide generation system.
    version: "v1"
servers:
    - url: https://ai-alice.com/
paths:
    /textsend:
        post:
            operationId: postText
            summary: Accepts text data for slide generation.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                userid:
                                    type: string
                                    description: Description of param1.
                                inputid:
                                    type: string
                                    description: Description of param2.
                                text:
                                    type: string
                                    description: Description of param3.
                                output:
                                    type: string
                                    description: Description of param4.
                                title:
                                    type: string
                                    description: Description of param5.
                                conclusion:
                                    type: string
                                    description: Description of param6.
                                userstatus:
                                    type: string
                                    description: Description of param7.
                                slideimage:
                                    type: string
                                    description: Description of param8.
                                sub_slideimage:
                                    type: string
                                    description: Description of param8.
                                language:
                                    type: string
                                    description: Description of param8.
            responses:
                "200":
                    description: OK
